@import "bootstrap/scss/variables";
body::before{
    display: block;
    content: '';
    height: 60px;
}
.alpha {
    background-color:gold; 
}
.post-wrapper{
    display: grid;
    grid-template-colum ns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
